@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CascadiaCode';
  src: url(/assets/fonts/CascadiaCode.ttf);
  display: swap;
}

* {
  font-family: 'CascadiaCode', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d79921;
}

.banner {
  display: flex;
  flex-direction: column;
  white-space: pre;
  justify-content: space-between;
}

.banner > div:nth-child(2) {
  padding-top: 10px;
  max-width: 150px;
}

.projects {
  max-width: 85vw;
}

@media (min-width: 1024px) {
  .banner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .banner > div:nth-child(2) {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 250px;
  }
}